.sidenav-container {
    height: 100vh;
}

.sidenav {
    width: 250px;
    padding: 15px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    height: 100%;
}


.spacer {
    flex: 1 1 auto;
}


.content-area {
    padding: 20px;
}


.mat-nav-list a {
    margin-bottom: 5px;
}


.mat-nav-list mat-icon {
    margin-right: 10px;
}



.sidenav-container {
    height: 100%;
}


.custom-toolbar-black {
    background-color: var(--color-black) !important;
    color: var(--color-white) !important;
    height: 64px;
}

.toolbar-with-border {
    border-bottom: 3px solid var(--color-yellow); 
    box-sizing: border-box; 
}


.logo-text-white {
    color: var(--color-white);
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 10px;
}

.menu-icon-yellow,
.logout-button-yellow {
    color: var(--color-yellow) !important;
}

.spacer {
    flex: 1 1 auto;
}

.custom-sidenav-dark {
    background-color: var(--color-dark-gray);
    width: 250px;
    box-shadow: 2px 0 6px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column; 
    height: 100%;
    box-sizing: border-box;
}

.user-greeting-sidenav {
    display: block;
    padding: 20px 16px;
    color: var(--color-white);
    font-size: 1.1em;
    font-weight: 500;
    border-bottom: 1px solid #444;
}


.custom-sidenav-dark mat-nav-list a.mat-list-item {
    color: var(--color-white);
}


.custom-sidenav-dark mat-nav-list a.mat-list-item:hover,
.custom-sidenav-dark mat-nav-list a.mat-list-item.mat-list-item-active {
    background-color: rgba(255, 193, 7, 0.1); 
    color: var(--color-yellow);
}

.custom-sidenav-dark mat-nav-list mat-icon {
    color: var(--color-yellow);
    margin-right: 8px;
}


.custom-content-light {
    background-color: var(--color-light-gray);
    padding: 20px;
    height: calc(100vh - 64px); 
    box-sizing: border-box;
}


.content-area {
    padding: 20px;
}

.custom-toolbar-black {
    background-color: var(--color-black) !important;
    color: var(--color-yellow) !important;
}

::ng-deep mat-nav-list span {
    color: var(--color-white) !important; 
    display: flex;
}

.sidenav-flex-container {
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 0;
}

.logout-fixed-bottom {
    margin-top: auto !important; 

}

::ng-deep .nav-link:hover mat-icon,
.nav-link:hover {
    color: var(--color-white) !important;
    background-color: var(--color-yellow);
}