<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav mode="side" [opened]="true" class="sidenav custom-sidenav-dark">
        <app-sidenav-menu 
            [informacoes]="informacoes$ | async" 
            (logoutRequest)="logout()">
        </app-sidenav-menu>
    </mat-sidenav>
    
    <mat-sidenav-content>
        
        <app-toolbar 
            (menuToggleRequest)="sidenav.toggle()">
        </app-toolbar>

        <main class="content-area custom-content-light">
            <router-outlet></router-outlet>
        </main>
        
    </mat-sidenav-content>
    
</mat-sidenav-container>