name: BankMore Build e Teste 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Configurar Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22 
        cache: 'npm'

    - name: Instalar Dependências
      run: npm install
      working-directory: ./bankmore

    - name: Rodar o Build do Angular     
      run: npm run build -- --configuration=production
      working-directory: ./bankmore
      
    - name: Rodar Testes Unitários
      run: npm run test -- --watch=false --browsers=ChromeHeadless
      working-directory: ./bankmore